    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 lead">
              <br/><br/>
              <h2>Was ist Erlebnis Film?</h2>
              <br/>
                Erlebnis Film ist ein ganz besonderes Teambuilding Event. 
                <br/>
                Es vereint die Faszination Film von den technischen Aspekten wie Kamera, Ton und Licht hin zu den kreativen Einflüssen wie dem Drehbuchschreiben und dem Spiel vor der Kamera. Unter der Anleitung von Profis aus der Welt des Films stellt euer Team einen Kurzfilm fertig. 
                <br/>
                <br/>
                Erlebnis Film gibt Einblicke in die Welt hinter den Filmen die wir im Kino oder zu Hause am Fernseher sehen. Die Zusammenarbeit am Set sowie das Fördern von kreativen Impulsen wird hier spielerisch mit moderner Technik kombiniert.
              </div>
        </div>
    </section>
